.camp-pay-container{
  padding-bottom: 55px;
  > .kefu-container{
    position: fixed;
    right : 17px;
    bottom : 103px;
    height: 60px;
    width: 60px;
    z-index: 100;
    > .kefu-pic{
      height: 75px;
      width: 75px;
    }
  }
  > .mask {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    > .tips {
      margin-top: 50px;
      color: #FFFFFF;
      text-align: center;
      font-size: 16px;
    }
    > .xiaoQ {
      display: block;
      margin: 25px auto 0;
      width: 70%;
    }
  }
  > .pay-page{
    > .sale-pic{
      width: 100%;
      height: ~"calc(100% - 49px)";
    }
    > .button-footer {
      box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.04);
      display: block;
      position: fixed;
      font-size: 17px;
      bottom: 0;
      width: 100%;
      height: 65px;
      text-align: center;
      line-height: 65px;
      color: #fff;
      background-color: #fff;
      z-index: 10;
      > .footer-btn {
        height: 40px;
        margin: 0 6%;
        position: absolute;
        width: 88%;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        background: url('https://static.iqycamp.com/images/fragment/camp_promotion_button_11_3.png?imageslim') center center/100% 100%;
        border-radius: 20px;
        font-size: 20px;
        color: #FFFFFF;
        line-height: 40px;
        overflow: hidden;
        > svg {
          > text {
            text-anchor: middle; /* 文本水平居中 */
            dominant-baseline: middle; /* 文本垂直居中 */
          }
        }
      }
    }
  }

}
