.step-button-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 87px;
  text-align: center;
  color: #fff;
  background-color: #fff;
  z-index: 10;

  .top-tips {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 27px;
    background: #FFF5C4;
    color: #77541C;

    .remain-tips {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .tips-split {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 1px;
      height: 13px;
      background: #77541C;
    }
  }
}

.step-footer-button-component {
  display: flex;
  position: fixed;
  font-size: 17px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  background-color: #fff;
  z-index: 10;
  justify-content: space-between;
  align-items: center;

  &.l1 {
    background: linear-gradient(270deg, rgba(165, 230, 40, 1) 0%, rgba(125, 190, 0, 1) 100%);
    color: #7DBE00;

    &.step-price {
      .fee-area {
        .fee-icon {
          color: #FFF036;
        }

        .fee {
          color: #FFF036;
        }

        .old-fee {
          color: #FFFFFF;
        }
      }
    }

    .button-click-area {}
  }

  &.l2 {
    background: linear-gradient(90deg, rgba(246, 183, 108, 1) 0%, rgba(233, 128, 58, 1) 100%);
    color: #E9813B;

    &.step-price {
      .fee-area {
        .fee-icon {
          color: #FFFFFF;
        }

        .fee {
          color: #FFFFFF;
        }

        .old-fee {
          color: #FFFFFF;
        }
      }
    }

    .button-click-area {}
  }

  &.l3 {
    background: linear-gradient(270deg, rgba(238, 184, 123, 1) 0%, rgba(245, 225, 169, 1) 100%);
    color: #EEB87B;

    &.step-price {
      .fee-area {
        .fee-icon {
          color: #414141;
        }

        .fee {
          color: #414141;
        }

        .old-fee {
          color: #484B57;
        }
      }
    }

    .button-click-area {}
  }

  .fee-icon {
    font-size: 14px;
  }

  .button-click-area {
    width: 91.7vw;
    height: 42px;
    line-height: 42px;
    background: #FFF;
    border-radius: 21px;
    border: 1px solid rgba(255, 240, 54, 1);

    .btn-text {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      .fee-wrapper {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        .fee {
          font-size: 28px;
          font-weight: 900;
        }
      }

    }
  }

  &.normal {
    justify-content: center;
  }

  &.step-price {
    .fee-area {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      font-size: 17px;
      height: 100%;
      margin-left: 15px;

      .fee-icon {
        color: #FFF036;
        font-size: 20px;
      }

      .fee {
        font-size: 28px;
        font-weight: 900;
        color: #FFF036;
      }

      .old-fee {
        color: #FFF;
        text-decoration: line-through;
      }
    }

    .button-click-area {
      width: 37.6vw;
      margin-right: 15px;
    }
  }
}