@import '../../../style/variable';
@import '../../../style/mixins';

.self-init-component {
  position: relative;
  min-height: 100vh;
  .self-init-container {
    margin: 0 2rem;
  }
  h2.self-init-title {
    font-size: 2.2rem;
    line-height: 3rem;
    text-align: center;
    padding-top: 2.6rem;
    color: @color_title2;
  }
  .self-init-title-tips {
    line-height: 2.8rem;
    font-size: 1.2rem;
    letter-spacing: -0.2px;
    text-align: center;
    color: @color_help;
  }
  .self-init-price {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.2px;
    text-align: center;
    color: @color-red;
    .price-delete {
      font-size: 1.2rem;
      font-weight: normal;
      color: @color_help;
      text-decoration: line-through;
    }
  }
  .self-init-point-tips {
    display: flex;
    .point-tips {
      .tips-text {
        .dot(@color-dot);
      }
      &.first {
        text-align: left;
        flex: 1;
      }
      &.last {
        text-align: right;
        flex: 1;
      }
      line-height: 4.8rem;
      font-size: 1.2rem;
      letter-spacing: -0.2px;
      text-align: center;
      color: @color_help;
      flex: 2;
      flex-direction: column;
    }
  }

  .grey-block {
    height: 1rem;
    background-color: @color_weak_line;
  }

  .self-init-block-title {
    padding-top: 3.4rem;
    line-height: 3.2rem;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 0;
    text-align: left;
    color: @color_title_black;
    .block-title-text {
      .text {
        position: relative;
        z-index: 10;
      }
      .bottomLine(@color-title-under-line);
    }
  }

  h4 {
    font-size: 1.5rem;
    line-height: 2.6rem;
  }
  .self-init-context {
    letter-spacing: -0.3px;
    text-align: left;
    color: @color_title;
    font-size: 1.4rem;
    line-height: 175%;
    font-weight: 300;
    padding-top: 2rem;
  }
  .should-know {
    padding-bottom: 8rem;
    display: block;
  }

  .high-line-text {
    color: @color_title2;
    font-weight: 400;
  }
  .buy-button {
    width: 12.5rem;
    margin: 0.3rem auto 0 auto;
    .button-component {
      font-size: 1.4rem;
      line-height: 3.6rem;
    }
  }
  .fiexd-buy-button {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 100vh;
    .button-footer-component {
      position: absolute;
      left: 0;
      background: rgba(244, 223, 165, 1);
      box-shadow: 2px 2px 6px 0px rgba(95, 70, 0, 0.18);
      .submit-btn {
        background: none;
        font-size: 1.6rem;
      }
    }
  }
  .user-satisfaction-wrap {
    > div {
      display: flex;
      align-items: center;
      margin-top: 1.7rem;
      padding: 1.7rem 1rem 1.5rem 0.8rem;
      box-shadow: 0 0.3rem 2rem 0.4rem rgba(222, 225, 240, 0.58);
      border-radius: 0.4rem;
      .assetImg {
        width: 6.4rem;
        height: 6.4rem;
        border-radius: 100%;
        margin-right: 2.5rem;
      }
      h1 {
        color: @color_title2;
        font-size: @font_title;
      }
      .user-comment-times {
        color: @color_help;
        font-size: @font_index;
        line-height: 2rem;
      }
      .user-comment-text {
        color: @color_title;
        font-size: ~'calc(100vw * (12.2 / 375))';
      }
    }
  }
  .top-quotation-marks {
    font-size: 1.5rem;
    color: @color-title-under-line;
    font-weight: 500;
    position: relative;
    top: -0.2rem;
  }
}
