// 颜色
@color-dot: #f4dfa5;
@color_white: #fff;
@color_theme: #5bcaca;
@color_strong: #55cbcb;
@color_weak: #ccc;
@color_weak_background: #f3f4f6;
@color_weak_line: #f5f5f5;
@color_context: #333;
@color_title: #666;
@color_help: #999;
@color_title2: #50505a;
@color_ios_btn: #0076ff;
@color-green: #7dbe00;
@color-red: #ed4a47;
@color_orange: #f4dfa5;
@color-title-under-line: #eeb87b;
// 字体
@font_title: 17px;
@font_context: 16px;
@font_click: 13px;
@font_index: 12px;
@font_help: 11px;
@font_user_name: 19px;
// 圆角
@border-radius: 4px;
// 按钮
@button_circle_height: 45px;
@button_footer_height: 49px;
@color_title_black: #50505a;
//对其方式
.align-center {
  text-align: center;
}
// cdn fragment 目录
@imgPathRoot: 'https://static.iqycamp.com/images';
@imgPathFragment: 'https://static.iqycamp.com/images/fragment';

@imgBusinessBackground: 'https://static.iqycamp.com/images/bg_diwen.png?imageslim';

.cycle-dot(@color:#50505a,@size:0.5rem,@margin-right:0.5rem) {
  &:before {
    content: '';
    width: @size;
    height: @size;
    border-radius: 80%;
    background: @color;
    display: inline-block;
    margin-right: @margin-right;
    vertical-align: middle;
    margin-top: -3px;
  }
}

.square-dot(@color:#50505a,@size:0.5rem,@margin-right:0.5rem) {
  &:before {
    content: '';
    width: @size;
    height: @size;
    background: @color;
    display: inline-block;
    margin-right: @margin-right;
    vertical-align: middle;
    margin-top: -3px;
  }
}

.bottomLine(@color:#7dbe00,@margin-left:1rem) {
  position: relative;
  span {
    z-index: 10;
    position: relative;
  }
  &:before {
    content: '';
    width: 95%;
    height: 0.5rem;
    background: @color;
    display: inline-block;
    position: absolute;
    bottom: 0.3rem;
    left: @margin-left;
    z-index: 1;
  }
}
