.linear-gradient(){
  background-image: -webkit-gradient(linear,0 0,0 bottom,from(#feff1c),to(#ffa21b));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  line-height: 24px;
  height: 24px;
  text-align: center;
}
